{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
    <!-- Figma prototype -->
    {{ if site.Data.system_design.figma.enable }}
    {{ with site.Data.system_design.figma }}
    <div class="container">
        <div class="row">
            <p>Here is the UI Figma: </p>
            <iframe style="col align-self-center" width="1280" height="720"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FaZbMmOjtr98BkD7At9nS0h%2FNudge-Me-Prototype%3Fnode-id%3D16%253A116%26scaling%3Dscale-down"
                allowfullscreen></iframe>
            <spacer type="horizontal" width="100" height="100"> ♢ </spacer>

        </div>
    </div>
    {{ end }}
    {{ end }}
    <!-- /figma -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center mb-4">
                <img src="{{.Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded mb-4">
                <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span
                        class="text-primary">{{site.Params.Author}}</span></p>
            </div>
            <div class="col-lg-9">
                <div class="content">
                    {{.Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}